@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Roboto+Mono:wght@400;600;700&display=swap');

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --bgEditor: #fff;
    --textColor: #000;
    --bgSelection: rgb(35 101 167);
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --bgEditor: #191919;
    --textColor: #CFCFCF;
    --bgSelection: rgba(35, 131, 226, .28);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.ce-inline-toolbar.ce-inline-toolbar {
  color: #000;
}

/* @media (prefers-color-scheme: dark) { */
.ce-toolbar__plus {
  color: #CFCFCF !important;
  background-color: var(--bgEditor);
  border: none;
}

.ce-toolbar__plus:hover {
  background-color: #0000006b;
}

.ce-toolbar__settings-btn {
  color: #CFCFCF !important;
  background-color: var(--bgEditor);
  border: none;
}

.ce-toolbar__settings-btn:hover {
  background-color: #0000006b;
}

.cdx-search-field__input {
  color: #000;
}

.cdx-search-field__input {
  color: #CFCFCF !important;
}


.ce-header::selection,
.ce-paragraph::selection,
.ce-paragraph>b::selection,
.ce-paragraph>i::selection,
.ce-block__content::selection,
.codex-editor__fake-cursor::selection,
.ce-block--selected::selection,
.cdx-input::selection,
.ce-block__content::selection,
.cdx-list__item::selection,
.cdx-underline::selection,
.cdx-strikethrough::selection,
.cdx-checklist__item-text::selection,
.cdx-checklist__item-text::selection,
.cdx-checklist__item-text>b::selection,
.cdx-checklist__item-text>b>i::selection,
.ce-block__content>div::selection,
font::selection {
  background-color: var(--bgSelection) !important;
  color: #FFF !important;
}

.ce-block--selected .ce-block__content {
  background-color: transparent;
}

.tc-popover--opened {
  color: #000;
}

.codeflask--has-line-numbers {
  z-index: 0;
}

.ce-popover--opened {
  color: #000;
  z-index: 99999;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: unset;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: #3c3d3f;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3c4655;
  border-radius: 50px;
}